.nyc_output/
.eslintignore
.eslintrc
.git
.gitignore
.jshintrc
.npmignore
.test
.travis.yml

node_modules/
compose/
assets/
examples/
docs/
coverage/
tutorials/

*.save
*.tgz
npm-debug.log
payload.txt
jsdoc.json
