shared-workspace-lockfile=false
prefer-workspace-packages=true
link-workspace-packages=true
save-workspace-protocol=false
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*eslint*
package-lock=false
